body {
    min-width:600px!important;
    background-color: #000;
}

button {
    border-radius: 4px;
}
/* Video Feed Styling */
#overlay {
/* Video Feed Styling:
 * Include the !important keyword to override default styles applied by JS.
 * webgazer.js sets defaults for: display, position, top, left, width, height
 */
}
#webgazerVideoContainer {
    display: block !important; 
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 320px !important;
    height: 240px !important;
    z-index: 1;
}

/* Navbar styling */
#webgazerNavbar {
    /*left: 320px;
    width: calc(100% - 320px);
    z-index: 0;
    box-shadow: 0px 3px 5px #ddd;
    border:0px;
    background-color: #fff;*/
    display: none !important; 
}

#Accuracy a{
    background-color: #222;
    color: #eee;
    left: -15px;
    padding-left: 80px;
    padding-right: 40px;
}
#Accuracy {
    background-color: #222;
    padding-left: inherit;
}

li {
    padding-left: 50px;
}
.navbar-right li {
    padding-right: 20px;
}

.helpBtn {
    display: inline-block;
    padding: 15px;
    border: none;
    background: none;
    color: #777;
}
.helpBtn:hover {
    color: black!important;
    text-decoration: none;
}
.modal-header {
    border-bottom: none!important;
}

/* Calibration button styling */
.Calibration{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: red;
    opacity: 0.2;
    border-color: black;
    border-style: solid;
    position:fixed;
    z-index:1;
}
#plotting_canvas{
    background-color:black!important;
}
/* Calibration point position */
#Pt1{
    top: 70px;
    left:340px;
}
#Pt2{
    top: 70px;
    left:50vw;
    margin-left: 340;
}
#Pt3{
    top: 70px;
    right:2vw;
}
#Pt4{
    top:50vh;
    left:2vw;
}
#Pt5{
    top: 50vh;
    left: 50vw;
}
#Pt6{
    top: 50vh;
    right:2vw;
}
#Pt7{
    bottom:2vw;
    left: 2vw;
}
#Pt8{
    bottom:2vw;
    left:50vw;
}
#Pt9{
    bottom:2vw;
    right:2vw;
}



/*test für design*/

/* Stelle sicher, dass der Body und das HTML-Element die volle Höhe des Bildschirms einnehmen */
html, body {
    height: 100%;
    margin: 0;
    background-color: #000;
  }
  
 /* Style for the individual circles */
.circle {
    width: 150px;
    height: 150px;
    border: 1px solid #000; /* Add a border to make the circles visible */
    border-radius: 50%; /* Create a circle using border-radius */
    position: absolute;
    font-size: 70px; /* Adjust font size for emojis */
}

.circle1 {
    top: 20px;
    left: 20px;
    padding-top: 23px;
    padding-left: 38px;
    background-color: red; /* Background color for Circle 1 */
   
}

.circle2 {
    top: 20px;
    right: 20px;
    padding-top: 23px;
    padding-left: 38px;
    background-color: yellow; /* Background color for Circle 2 */
}

.circle3 {
    bottom: 20px;
    left: 20px;
    padding-top: 23px;
    padding-left: 38px;
    background-color: blue; /* Background color for Circle 3 */
}
.circle4 {
    bottom: 20px;
    right: 20px;
    padding-top: 23px;
    padding-left: 38px;
    background-color: green; /* Background color for Circle 4 */
}

.circle5 {
    top: 50%;
    left: 50%;
    padding-top: 23px;
    padding-left: 38px;
    transform: translate(-50%, -50%);
    background-color: grey; /* Background color for Circle 5 */
}
